<template>
    <div class="login" id="login">
        <div class="login-form col-md-5 col-sm-10 col-11">
            <i class="fa fa-times" @click="closeLogin"></i>
            <h2 class="title-form">LOGIN</h2>
            <label class="text-danger">{{ error }}</label>
            <div class="form-group p-1">
                <input
                    type="email"
                    class="form-control"
                    v-model="form.email"
                    placeholder="Email"
                />
                <label class="text-danger" v-if="userError"
                    >Email or Username is Required</label
                >
            </div>
            <div class="form-group p-1">
                <input
                    class="form-control"
                    type="password"
                    v-model="form.password"
                    placeholder="Password"
                />
                <label class="text-danger" v-if="passError"
                    >Password is Required</label
                >
            </div>
            <div class="row col-12 m-0 p-0 justify-content-between">
                <div class="col-md-4 p-1 p-0 m-0">
                    <button id="log-btn" class="col-12 button" @click="login">
                        Login
                        <i
                            v-if="isLoading"
                            class="fa fa-circle-notch fa-spin"
                        ></i>
                    </button>
                </div>
            </div>

            <div class="signup mt-3">
                <a href="/register">Create An Account</a>
            </div>

            <!-- <div class="social-link pl-3 pr-3">
                <h5 class="mt-4 text-center">Continue with Social Link</h5>
                <div class="row justify-content-between">
                    <a href="/facebook" class="fb col-md-6">
                        <i class="fa fa-facebook"></i>Login with Facebook
                    </a>
                    <a href="/google" class="google col-md-6">
                        <i class="fa fa-google"></i> Login with Google</a
                    >
                </div>
            </div> -->
        </div>
    </div>
</template>

<script>
export default {
    name: "list",
    data() {
        return {
            isLoading: false,
            error: "",
            //form
            formState: "save",
            categortylist: [],
            userError: false,
            passError: false,
            form: {
                email: "",
                password: ""
            }
        };
    },
    mounted() {},
    created() {},
    methods: {
        closeLogin() {
            $(".login").css("display", "none");
        },
        login() {
            const formData = new FormData();
            formData.append("email", this.form.email);
            formData.append("password", this.form.password);
            const config = {
                "content-type": "multipart/form-data"
            };
            if (this.validateForm()) {
                this.isLoading = true;
                axios
                    .post("/login", formData, config)
                    .then(response => {
                        this.isLoading = false;
                        if (response.status == 204) {
                            window.location = "/admin";
                        }
                        this.isLoading = false;
                    })
                    .catch(error => {
                        this.isLoading = false;
                        this.error = "";
                        this.error = error.response.data.errors.email[0];
                    });
            }
        },
        clientData() {
            var client = new ClientJS();
            // console.log(client);
            var data = {
                email: this.email,
                password: this.password,
                fingerprint_id: client.getFingerprint(),
                browser_detail: client.getUserAgent(),
                browser_name: client.getBrowser(),
                browser_engine: client.getEngine(),
                device_os: client.getOS(),
                device_os_version: client.getOSVersion(),
                device_type: client.getDeviceType(),
                device_cpu: client.getCPU(),
                device_resolution: client.getAvailableResolution(),
                time_zone: client.getTimeZone(),
                language: client.getLanguage()
            };
            return data;
        },
        validateForm() {
            var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            if (!this.form.email.match(mailformat)) {
                this.error = "Invalid Email";
                return false;
            }
            if (!this.form.email) {
                this.userError = true;
            } else {
                this.userError = false;
            }
            if (!this.form.password) {
                this.passError = true;
            } else {
                this.passError = false;
            }
            if (this.form.email && this.form.password) {
                return true;
            }
        }
    }
};
</script>

<style lang="scss" scoped></style>
