<template>
    <div class="menu">
        <div class="added-message">
            <span>{{ productMesg }}</span>
        </div>
        <!-- product list -->
        <div class="menu-list m-0 p-0">
            <div class="row menu-list-wrapper col-12 m-auto p-0 m-0">
                <div
                    class="menu-item col-md-4 col-sm-6 col-12 p-0"
                    v-for="item in productList"
                    :key="item.index"
                >
                    <div class="menu-item-content m-0  p-2">
                        <div class="menu-image col-12">
                            <img :src="'/storage/' + item.image" alt="" />
                        </div>
                        <div class="menu-text">
                            <div class="menu-title m-0 p-2 col-12">
                                <h4>{{ item.name }}</h4>
                                <div class="menu-cat">
                                    <div class="menu-cat-text">
                                        {{ item.description }}
                                    </div>
                                </div>
                                <span>$ {{ item.price }}</span>
                            </div>

                            <div class="menu-cart">
                                <button
                                    @click="addToCart(item.id)"
                                    class="add-cart button"
                                >
                                    Add To Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            productList: [],
            category: "all",
            showSuccess: true,
            productMesg: ""
        };
    },
    mounted() {
        this.getData();
        // console.log("hey");
    },
    methods: {
        getData(cat_id = "all") {
            this.category = cat_id;
            var formData = new FormData();
            formData.append("category", this.category);

            axios.post("/get-latest-recipies", formData).then(response => {
                // console.log(response.data.payload);
                this.productList = response.data.payload;
            });
        },
        addToCart(cat_id) {
            axios.get("/cart/add/" + cat_id).then(response => {
                var response = response.data;
                this.productMesg = response.message;
                $(".added-message").css("display", "block");
                $(".added-message").css("padding", "10px");

                setTimeout(() => {
                    $(".added-message").css("display", "none");
                    $(".added-message").css("padding", "0px");
                }, 1500);
            });
        }
    }
};
</script>

<style lang="scss" scoped></style>
