<template>
    <section id="menu-section">
        <div class="added-message" v-if="showSuccess">
            <span>{{ productMesg }}</span>
        </div>
        <div class="menu">
            <div class="menu-title">
                <h5>Find About</h5>
                <div class="title">
                    <h1>Our Menu</h1>
                    <p class="text-center">
                        *Note: V-Vegan, GF-Gluten-Free
                    </p>
                    <div class="title-underline"></div>
                </div>
            </div>

            <!-- categoruy list -->
            <div class="menu-nav col-md-6 m-auto m-0 p-0 mb-5 col-sm-8 col-10">
                <div class="swiper-container menu-list">
                    <div class="swiper-wrapper">
                        <div
                            class="swiper-slide"
                            v-for="item in categoryList"
                            :key="item.index"
                            @click="getData(item.id, item.slug)"
                        >
                            <span :id="item.slug">
                                {{ item.name }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="loader-dots" v-if="isLoading"></div>
            <!-- product list -->
            <div class="menu-list mt-5">
                <div class="row menu-list-wrapper col-11 m-auto p-0 m-0">
                    <div
                        class="menu-item col-md-3 col-sm-6 col-12 p-0"
                        v-for="item in productList"
                        :key="item.index"
                    >
                        <div class="menu-item-content m-0  p-2">
                            <div class="menu-image col-12">
                                <img :src="'/storage/' + item.image" alt="" />
                            </div>
                            <div class="menu-text">
                                <div class="menu-title m-0 p-2 col-12">
                                    <h4>
                                        {{ item.name }}
                                    </h4>
                                    <div class="menu-cat">
                                        <div class="menu-cat-text">
                                            {{ item.description }}

                                            <!-- Chickpeas are cooked in the popular
                                            Punjabi style.Chickpeas are cooked
                                            in the popular Punjabi style. -->
                                        </div>
                                    </div>
                                    <span>$ {{ item.price }}</span>
                                </div>

                                <div class="menu-cart">
                                    <button
                                        @click="addToCart(item.id)"
                                        class="add-cart button"
                                    >
                                        Add To Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- showmore button -->
            <button
                v-if="showMore"
                class="button show-more"
                @click="loadMore()"
            >
                LOAD MORE
                <i
                    v-if="isLoading"
                    class="fas fa-circle-notch fa-spin text-light"
                ></i>
            </button>
        </div>
    </section>
</template>

<script>
export default {
    props: ["category_slug", "cat_id"],
    data() {
        return {
            isLoading: false,
            showMore: true,
            productList: [],
            categoryList: [],
            // category
            category: "all",
            temp_category: "all",
            temp_slug: "all",
            cat_slug: "all",

            showSuccess: true,
            productMesg: "",
            last_id: 0
        };
    },
    mounted() {
        this.getCategories();
        this.category = this.cat_id;
        this.cat_slug = this.category_slug;
        this.getData(this.category, this.category_slug);
    },
    methods: {
        getData(cat_id, slug) {
            this.isLoading = true;

            $(".swiper-slide span").removeClass("swiper-cat-color");
            $("#" + slug).addClass("swiper-cat-color");

            if (this.temp_category != this.category) {
                this.last_id = 0;
            }

            this.category = cat_id;
            this.cat_slug = slug;

            var formData = new FormData();
            formData.append("category", this.category);
            formData.append("category_slug", this.cat_slug);
            formData.append("last_id", this.last_id);

            axios
                .post("/get-product", formData)
                .then(response => {
                    // console.table(response.data.payload);
                    this.isLoading = false;
                    var response = response.data.payload;

                    this.productList = response;

                    if (response.length < 8) {
                        this.last_id = 0;
                        this.showMore = false;
                    } else {
                        this.showMore = true;
                    }

                    this.last_id = response[response.length - 1].id;

                    // console.log(this.last_id);
                })
                .catch(error => {
                    this.isLoading = false;
                });
        },
        loadMore() {
            this.isLoading = true;
            var formData = new FormData();
            formData.append("category", this.category);
            formData.append("category_slug", this.cat_slug);
            formData.append("last_id", this.last_id);
            axios
                .post("/get-product", formData)
                .then(response => {
                    // console.table(response.data.payload);
                    this.isLoading = false;
                    var response = response.data.payload;

                    response.forEach(element => {
                        this.productList.push(element);
                    });

                    this.last_id = response[response.length - 1].id;

                    if (response.length < 8) {
                        this.last_id = 0;
                        this.showMore = false;
                    } else {
                        this.showMore = true;
                    }

                    // console.log(this.last_id);
                })
                .catch(error => {
                    this.isLoading = false;
                });
        },
        addToCart(cat_id) {
            axios.get("/cart/add/" + cat_id).then(response => {
                var response = response.data;
                this.productMesg = response.message;
                $(".added-message").css("display", "block");
                $(".added-message").css("padding", "10px");

                setTimeout(() => {
                    $(".added-message").css("display", "none");
                    $(".added-message").css("padding", "0px");
                }, 1500);
            });
        },

        getCategories() {
            axios.get("/get-all-categories").then(response => {
                // console.log(response.data.payload);
                this.categoryList = response.data.payload;
            });
        }
    }
};
</script>

<style lang="scss" scoped></style>
