<template>
    <section id="cart">
        <div class="cart col-md-10 row p-3" v-if="cartList.length !== 0">
            <div class="cart-list col-md-8">
                <div
                    class="cart-items row shadow"
                    v-for="item in cartList"
                    :key="item.index"
                >
                    <div class="cart-image col-3">
                        <img :src="'/storage/' + item.photo" alt="" />
                    </div>
                    <div class="cart-detail col-4">
                        {{ item.name }}
                    </div>
                    <div class="cart-price col-2 p-0">
                        <span>$ {{ item.price }}</span>
                    </div>
                    <div class="cart-quantity col-2">
                        <span>Qty {{ item.quantity }}</span>
                    </div>
                    <div class="cart-delete col-1">
                        <button @click="deleteItem(item.item_id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="order-summary col-md-4">
                <div class="summary-title">
                    <h2>Order Summary</h2>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Subtotal ({{ cartList.length }} items)</td>
                            <td>
                                {{ totalPrice }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="checkout">
                    <a href="/checkout" class="button">Checkout</a>
                </div>
            </div>
        </div>
        <div class="no-items" v-else>
            <h5 class="text-center">There are no items in this cart</h5>
            <a href="/" class="button">CONTINUE SHOPPING</a>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            cartList: [],
            totalPrice: 0
        };
    },
    mounted() {
        this.getCartList();
    },
    methods: {
        getCartList() {
            axios.get("/cart/get-all").then(response => {
                var response = response.data.payload;
                var parse = JSON.parse(response);
                this.cartList = parse;
                this.getTotalPrice();
                // console.log(parse);
            });
        },
        getTotalPrice() {
            var total_price = 0;
            for (let i = 0; i < this.cartList.length; i++) {
                var price = this.cartList[i]["price"];
                var quantity = this.cartList[i]["quantity"];
                total_price += price * quantity;
            }
            this.totalPrice = total_price;
        },
        deleteItem(cat_id) {
            // console.log(cat_id);
            axios.get("/cart/delete/" + cat_id).then(response => {
                this.getCartList();
            });
        }
    }
};
</script>

<style lang="scss" scoped></style>
