<template>
    <section id="nav-cart">
        <div class="cart-icon" @click="toggleCart()">
            <i class="fas fa-shopping-cart"></i>
            <!-- <span>{{ cartList.length }}</span> -->
        </div>
        <div class="nav-cart-wrapper">
            <div class="title">
                <h3>Your Cart</h3>
                <h3>{{ cartList.length }} item</h3>
            </div>

            <div class="no-items pt-4" v-if="cartList.length == 0">
                <h4 class="text-secondary font-weight-bold  text-center">
                    There are no items in this cart
                </h4>
            </div>

            <div class="nav-cart-list">
                <div
                    class="nav-cart-item row col-12"
                    v-for="item in cartList"
                    :key="item.index"
                >
                    <div class="nav-cart-image col-5">
                        <img
                            class="col-12"
                            :src="'/storage/' + item.photo"
                            alt=""
                        />
                    </div>
                    <div class="nav-cart-text col-5">
                        <h5>{{ item.name }}</h5>
                        <p>
                            {{ item.quantity }} <i class="fa fa-times"></i> ${{
                                item.price
                            }}
                        </p>
                    </div>
                    <div class="nav-cart-close col-2">
                        <i
                            class="fa fa-times"
                            @click="deleteItem(item.item_id)"
                        ></i>
                    </div>
                </div>
            </div>

            <div class="nav-cart-total">
                <h3>SUB TOTAL</h3>
                <h3>${{ totalPrice }}</h3>
            </div>

            <div class="view-checkout">
                <a href="/cart" class="button">
                    VIEW CART
                </a>
                <span>/</span>
                <a href="/checkout" class="button">
                    CHECKOUT
                </a>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "navcart",
    data() {
        return {
            cartList: [],
            totalPrice: 0
        };
    },
    mounted() {
        this.getCartList();
    },
    methods: {
        toggleCart() {
            this.getCartList();
            if ($(".nav-cart-wrapper").css("display") == "none") {
                $(".nav-cart-wrapper").css("display", "block");
            } else {
                $(".nav-cart-wrapper").css("display", "none");
            }
        },
        getCartList() {
            axios.get("/cart/get-all").then(response => {
                var response = response.data.payload;
                var parse = JSON.parse(response);
                this.cartList = parse;
                this.getTotalPrice();
                // console.log(parse);
            });
        },
        getTotalPrice() {
            var total_price = 0;
            for (let i = 0; i < this.cartList.length; i++) {
                var price = this.cartList[i]["price"];
                var quantity = this.cartList[i]["quantity"];
                total_price += price * quantity;
            }
            this.totalPrice = total_price;
        },
        deleteItem(cat_id) {
            // console.log(cat_id);
            axios.get("/cart/delete/" + cat_id).then(response => {
                this.getCartList();
            });
        }
    }
};
</script>

<style lang="scss" scoped></style>
